<% if params[:commit] == "Create Post" %>
  <p class="container alert alert-success d-flex justify-content-center" role="alert">The super potin was succesfully saved !</p>
<% end %>

<h2>Bienvenue sur ce super site de potins où toutes les fouines trouveront leur bonheur !</h3>
    <h3>Voici la liste des potins :</h3>
    <% Gossip.all.each do |gossip| %>
      <p> 
      	<%= gossip.user.first_name %> <%= gossip.title %>    
      	<%= link_to 'voir le potin', gossip_path(gossip.id) %> <br/>
    	</p> 
    <% end %>