<h1>Bienvenue sur ce super site de potins où toutes les fouines trouveront leur bonheur !</h1>
    <h2>Voici la liste des potins :</h2>
    <% @gossips.each_with_index do |gossip, index| %>
      <p> 
      <%= gossip.user.first_name %> <%= gossip.title %>    
      <a href="/gossip/<%= index + 1 %>"> Consulter</a> <br/>
    	</p> 
    <% end %>