<br/>
<div class="starter-template text-center mx-auto">
  <h2>Si tu te demandes qui est le colporteur en chef, le voilà :</h2>
  <br/>
  <p class="lead text-primary"> <%= @team_member %> </p>
</div>
